@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --background: 36 33% 97%;
        --foreground: 222 22% 19%;

        --card: 36 33% 99%;
        --card-foreground: 222 22% 18%; 

        --primary: 151 22% 32%;
        --primary-background: 36 33% 98%;

        --secondary: 280 18% 92;
        --secondary-foregound: 280 20% 24%;

        --muted: 30 20% 94%;
        --muted-foreground: 222 12% 45%;

        --accent: 10 35% 92%;
        --accent-foreground: 10 35% 26%;

        --border: 24 18% 86%;
        --ring: 151 22% 40%;

        --radius: 1rem;
    }

    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));

        -webkit-font-smoothing: antialiased;
    }
}

@layer components {
    .moriah-container {
        max-width: 64rem;
        margin-inline: auto;
        padding-inline: 1rem;
    }

    .moriah-card {
        border-radius: var(--radius);
        border: 1px solid hsl(var(--border));
        background-color: hsl(var(--card));
        box-shadow: 0 1px 3px rgb(0 0 0 / 0.08);
    }
    
    .moriah-link {
        color: hsl(var(--primary));
        text-decoration: none;
    }

    .moriah-link:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}